<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-4.2.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <security:http auto-config="true">

        <!-- username-parameter和password-parameter就是form提交表单是的参数名称 -->
        <!-- login-processing-url表示绑定登陆的url，要和form提交表单（login.jsp）的action name相同，默认是/j-spring-security-check -->
        <security:form-login login-page="/login.jsp"
                             login-processing-url="/login.do"
                             username-parameter="username"
                             password-parameter="password"
                             default-target-url="/title.jsp"
                             authentication-failure-url="/title.jsp"/>

        <!--3.1版本后，auto-config='true'时，不能使用，要用hasRole的方式-->
        <!--<security:intercept-url pattern="/**" access="ROLE_USER"/>-->
        <!-- 表示匿名用户可以访问 -->
        <security:intercept-url pattern="/login.jsp" access="hasRole('ROLE_ANONYMOUS')"/>
        <security:logout logout-url="/logout.do"/>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>

        <!-- 4.0以后默认打开csrf,不允许post,设置为不打开 -->
        <security:csrf disabled="true"/>
    </security:http>

    <bean name="org.springframework.security.authenticationManager" class="org.ifunq.tanzx.spring.Security.SpringSecurityCustomAuthenticationManager"/>

    <!-- 注入cotrller -->
    <context:component-scan base-package="org.ifunq.tanzx.spring.controller"/>
    <bean class="org.ifunq.tanzx.spring.bean.SimpleSpringBean01"/>
</beans>