<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 事件</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtr">
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myVar">
            名: <input type="text" ng-model="firstName"><br>
            姓名: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName + " " + lastName}}
        </p>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtr', function($scope) {
            $scope.firstName = "John",
            $scope.lastName = "Doe"
            $scope.myVar = false;
            $scope.toggle = function() {
                $scope.myVar = !$scope.myVar;
            };
        });
    </script>
</body>
</html>